<head>
    <title>app wall</title>
</head>

<body>
    <div class="row">
        <div class="col s3">
                {{> heading}}
                {{> upload}}
        </div>
        <div class="col s9">
            {{> posts}}
        </div>
    </div>
</body>