<template name="heading">
    <h1>App Wall</h1>
</template>

<template name="upload">
    <form class="add-post">
        <input type="text" name="author" class="author" placeholder="Name" />
        <input type="text" name="message" class="message" placeholder="Message"/>
        <div class="file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" name="upload" class="file-upload" />
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Choose a file to upload">
            </div>
        </div>
        <div class="center-button">
            <button class="waves-effect waves-red btn">Submit</button>
        </div>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{#each posts}}
            <div class="grid-item card">
                {{#with image}}
                    <div class="card-image">
                        {{updateMasonry}}
                        <img src="{{this.url}}" />
                        <span class="card-title">{{../author}}</span>
                    </div>
                {{/with}}
                <div class="card-content">{{this.message}}</div>
            </div>
        {{/each}}
    </div>
</template>