* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll; 
}

.grid-sizer,
.grid-item {
    width: 32%;
}

.gutter-sizer {
    width: 2%
}

.grid-item {
    float: left;
    margin-bottom: 2%;
}

.grid-item img {
    display: block;
    max-width: 100%;
}

h1, .center-button {
    text-align: center;
}